.button-wrapper {
  // 1. 横向排列并占满宽度
  display: grid;
  grid-template-columns: 1fr 1fr;

  // 2. 对齐
  justify-items: center;
  align-items: center;

  // 3. 垂直间距
  margin-top: $spacing-large;
  margin-bottom: $spacing-large;
}
