.spinner {
  margin: $spacing-large auto;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, $color-primary 94%, #0000)
      top/$spacing-small $spacing-small no-repeat,
    conic-gradient(#0000 30%, $color-primary);
  mask: radial-gradient(
    farthest-side,
    hsla(0, 0%, 0%, 0) calc(100% - 10px),
    #000 0
  );
  animation: rotate 1.5s infinite linear;
}
